/* footer */
.footerLink {
    color: #eee;
    font-size: 13px;
    transition: all .3s;
  }
  
  .footerLink:hover {
    color: #70aed2;
    text-decoration: none;
  }

  @media (max-width: 375px){
    .Video{
      width: 300px;
    }
  }
  /* end of footer */
  