.Header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    35% url('/public/img/headerBackground.jpg'); */
  background-color: #e5e5e5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
}
